
{@ // <!--suppress CheckEmptyScriptTag, HtmlUnknownTag, HtmlUnknownAttribute, HtmlUnknownTarget --> }
<load target="../scss/style.scss" />

<!-- 헤더 -->
<div class="x_page-header">
	<h1>
		{$lang->sentry_title}
	</h1>
</div>

<!-- 관리자 메뉴 -->
<ul class="x_nav x_nav-tabs">
	<!--@foreach($menus as $menu)-->
		<!--@if($menu[2] ?? true)-->
			<li class="x_active"|cond="in_array($act, $menu[1])">
				<a href="{getUrl('', 'module', 'admin', 'act', $menu[1][0])}">
					{Context::getLang($menu[0])}
				</a>
			</li>
		<!--@endif-->
	<!--@endforeach-->
</ul>
