<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<actions>
		<!-- (관리자) 뷰 액션 -->
		<action name="dispSentryAdminIndex" type="view" admin_index="true" />

		<!-- (관리자) 컨트롤러 액션 -->
		<action name="procSentryAdminIndex" type="controller" />
		<action name="procSentryAdminTest" type="controller" method="GET|POST" />
	</actions>
</module>
